# PlatformIO
.pio
.pioenvs
.piolibdeps
.pio/build
.pio/libdeps
.piolib

# Kicad
*.bak
*-backup*
*.kicad_pcb-bak
*.sch-bak
*.kicad_prl
*.kicad_pro
*.kicad_dru
*.kicad_wks
*-cache.lib
sym-lib-table
fp-lib-table
fp-info-cache

# Autosave / temporary
*~
*.tmp
*.swp
.DS_Store
Thumbs.db

# System
.env
.env.*
!*.env.example

# Other
.png
.vscode